<img class="weather-icon" src="https://openweathermap.org/img/wn/{{iconSrc}}@2x.png" alt="" class="wether-img" />
<p class="city-name">{{cityName}}, {{sysCountry}}</p>
<div class="degrees-wrapper">
    <p class="act-degree">{{mainTemp}}°</p>
    <div class="min-degree">
    <p class="min-degree__text">min</p>
    <p class="min-degree__value">{{mainTempMin}}°</p>
    </div>
    <div class="max-degree">
    <p class="max-degree__text">max</p>
    <p class="max-degree__value">{{mainTempMax}}°</p>
    </div>
</div>